
/* Global styles --------------------------------   */
 body {
     font-family: 'Roboto', sans-serif;
     font-size: 16pt;
     display: flex;
     height: 100vh;
     flex-direction: column;
     overflow-wrap: break-word;
     margin: 0;
     }

main {
    flex: 1 auto;
}

/* fonts ---------------------------------------   */
 .bold {
     font-weight: 900;
}
 .deep-orange-text {
     color: #ff8a65;
}
 .black-font {
     color: #000000;
     text-decoration: none;
}
/* Alignments ---------------------------------------   */
 .vertical {
     display:block;
     padding-left: 9px;
}
 .padding {
     margin: 50px;
}
 .align-center {
     text-align: center;
     margin: 0 auto;
     width: 100%;
}
 .left-align {
     padding-left: 9px;
}
 .opacity {
     opacity: 0.9;
}
/* line break style ---------------------------------------   */
 .white {
     margin: 12px;
     border: 2pt solid #ffffff;
}
/* Collapsibles ---------------------------------------   */
 .collapsible {
     margin: 0 auto;
     width: 95%;
}
 .collapsible-body {
     font-size: 14pt;
     overflow-wrap: break-word;
}
 .collapsible-header, .collapsible-body, .collapsible {
     border-radius: 30px 30px 0px 0px;
}
/* Font awesome styles ---------------------------------------   */
 .fa-smile, .fa-pound-sign {
     color: #008000;
}
 .fa-laptop-house {
     color: #483d8b;
}
 .fa-clock, .fa-hourglass-half {
     color: #a52a2a;
}
 .fa-suitcase {
     color: #996515;
}
 .fa-award, .fa-wifi {
     color: #0000ff;
}
 .fa-chalkboard-teacher {
     color: #708090;
}
 .fa-calendar-alt {
     color: #2e8b57;
}
 .fa-list {
     color: #000000;
}
 .fa-phone {
     color: #008000;
}
 .icon-comment {
     padding-left: 9px;
     padding-top: 5px;
     font-size: 42px;
     margin: 0 auto;
}
 .logo-placement {
     padding-left: 18px;
}
/* Card stlying ---------------------------------------   */
 .interventions {
     margin: 0 auto;
     padding: 9px;
     text-align: center;
     font-size: 18pt;
}
 .card-content {
     font-size: 26px;
}
 .card {
     margin: 3px;
     padding: 6px;
}
 .search {
     width: 90%;
}
 .border-bottom {
     border-bottom: 4pt solid #808080;
}
 .home-cards {
     border-radius: 25px 25px 25px 25px;
     padding-top: 24px;
     margin-bottom: 24px;
     width: 90%;
}
 .info-cards {
     overflow-wrap: break-word;
}
 .about, .help {
     padding: 12px;
}
 .contact {
     margin: 0 auto;
}
/* Colours ---------------------------------------   */
 .blue-gradient {
     background-image: linear-gradient(#6190E8 , #A7BFE8 );
}
 .orange-gradient {
     background-image: linear-gradient(#ff8a65, #ffccbc );
}
 .grey-gradient {
     background-image: linear-gradient(to right, #ffffff, #bdc3c7);
}
/* Buttons ---------------------------------------   */
 .btn, .btn-large {
     margin-bottom: 12px;
}
 .dropdown-trigger {
     padding-right: 52px;
}
 
/* Footer -------------------------------------- */

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-links {
    color: #ffffff;
}