
.left-align {
    padding-left: 9px;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.interventions {
    background-color: lightblue;
    padding: 9px;
    font-size: 18px;
    border: 2pt solid white;
}

.white {
    
    margin: 12px;
    border: 2pt solid white;
}

.info-cards {
    border: 1pt solid black;
}