{% extends "base.html" %} {% block content %}

<div class="row card align-center blue-gradient">
    <h2>Speech, Language and Communication Needs Library</h2>
    <i class="fas fa-comments fa-10x"></i>
</div>

<section id="home_content">
    <div class="white"></div>

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 left home-cards align-center">
                <h4>Your one stop place for meeting your Children's Communication Needs</h4>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3 left home-cards align-center">
                <i class="fas fa-percentage fa-6x"></i>
            </div>
            <div class="col s12 m6 l9 home-cards">
                Almost 10% of all children and young people in the UK – more than 1.4 million - have speech, language and communication needs (SLCN)
                <br />
                <br />
                <em class="right">-ICAN</em>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3 left home-cards align-center">
                <i class="fas fa-people-carry fa-6x"></i>
            </div>
            <div class="col s12 m6 l9 home-cards">
                The challenge is even greater in deprived areas, where more than 50% of children have delayed language. A lack of knowledge and resources means that too many children and young people with SLCN don’t receive enough
                appropriate support. This affects their educational outcomes, their employability and their health and wellbeing.
                <br />
                <br />
                <em class="right">-ICAN</em>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3 left home-cards align-center">
                <i class="fas fa-people-arrows fa-6x"></i>
            </div>
            <div class="col s12 m6 l9 home-cards">
                50-90% of children with persistent speech, language and communication difficulties go on to have reading difficulties At least 60% of young people in young offender institutions have communication difficulties <br />
                <br />
                <em class="right">-Communication Trust</em>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3 left home-cards align-center">
                <i class="fas fa-book-reader fa-6x"></i>
            </div>
            <div class="col s12 m6 l9 home-cards">
                50-90% of children with persistent speech, language and communication difficulties go on to have reading difficulties At least 60% of young people in young offender institutions have communication difficulties
                <br />
                <br />
                <em class="right">-Communication Trust</em>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3 left home-cards align-center">
                <i class="fas fa-school fa-6x"></i>
            </div>
            <div class="col s12 m6 l9 home-cards">
                Children with speech, language communication needs (SLCN) are at high risk of difficulties with reading, writing and spelling. If children can't say words, they will be more likely to have difficulties in 'sounding out'
                words for reading and spelling, or writing them down. If they can't understand the words they hear, they will struggle to understand what they have read. Children with communication difficulties are more likely to have
                behaviour difficulties. Many children with identified behaviour needs have previously unidentified SLCN. Imagine the frustration of not getting your message across.
                <br />
                <br />
                <em class="right">-Communication Trust</em>
            </div>
            <div class="white"></div>
        </div>
    </div>
</section>

<section id="app_info">
    <div class="row info-cards align-center">
        <div class="col s12 m12 l12 card orange-gradient">
            <h3>This is an open resource that allows you to...</h3>
            <br />
        </div>
    </div>

    <div class="white"></div>

    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6 green lighten-4 home-cards align-center">
                <h4 class="bold"><em>Search</em></h4>
                <p>for interventions/training added by yourself and others</p>
                <br />
            </div>
            <div class="col s12 m6 l6 align-center home-cards">
                <i class="fas fa-search fa-6x"></i>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6 red lighten-4 right home-cards align-center">
                <h4 class="bold"><em>Read</em></h4>
                <p>on what they require and how others rate them</p>
                <br />
            </div>
            <div class="col s12 m6 l6 align-center home-cards">
                <i class="fas fa-glasses fa-6x"></i>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6 orange lighten-4 left home-cards align-center">
                <h4 class="bold"><em>Add</em></h4>
                <p>your own training/interventions to help others</p>
            </div>
            <div class="col s12 m6 l6 align-center home-cards">
                <i class="fas fa-user-plus fa-6x"></i>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6 blue lighten-4 right home-cards align-center">
                <h4 class="bold"><em>Delete</em></h4>
                <p>any outdated or incorrectly added interventions</p>
                <br />
            </div>
            <div class="col s12 m6 l6 align-center home-cards">
                <i class="fas fa-glasses fa-6x"></i>
            </div>
            <div class="white"></div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6 indigo lighten-4 left home-cards align-center">
                <h4 class="bold"><em>Edit</em></h4>
                <p>your own and others interventions and trainings in order to ensure accuracy</p>
            </div>
            <div class="col s12 m6 l6 align-center home-cards">
                <i class="fas fa-user-plus fa-6x"></i>
            </div>
            <div class="white"></div>
        </div>

        <div class="white"></div>
    </div>
</section>
{% endblock %}
