{% extends "base.html" %}
{% block content %}




<h2 class="center-align"> About Us</h2>

<div class= "container">

 <div class="row">
    <div class="col s12 align-center card-panel">
    <h5>Who we are?</h5>
        <p>We are a group of SEND teachers and Speech and Language Therapist trying to share free resources and links to support students with Speech, Language
        and Communication Needs. 
        </p>
    </div>
</div>
    


<div class="row">
    <div class="col s12 m4 l4 card-panel">
    <h5>What we offer?</h5>
        <p>A free resource that helps you to find training and interventions to meet your students needs.
        </p></div>
     <div class="col s12 m4 l4 card-panel">
     <h5>What does it cost?</h5>
        <p>Nothing.  We are doing this to help promote awareness of all the wonderful training and interventions out there.  However, some training and interventions
        may require cost.
        </p></div>
     <div class="col s12 m4 l4 card-panel">
     <h5>How will it help my school?</h5>
        <p>School staff can immediately search, or review (or hopefully add their own) training and interventions that can be used within their school. 
        This will save you time, instead of thinking "what can I do?" or "How do I meet these needs?" we have collected it all for you (and continue to grow).
        </p></div>
 </div>



  <div class="row">
   
    <div class="col s12 align-center card-panel">
    <h5>Testimonials</h5>
        <p>Don't just take our words for it though, read some testimonials below.
        </p>
    </div>

  </div>
 
  <div class="row align-center">

    <div class="col s12 m6 l3 card-panel">
    <h5>SENCO - East London</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
    <div class="col s12 m6 l3 card-panel">
    <h5>Class Teacher - Mainstream Primary</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
    <div class="col s12 m6 l3 card-panel">
    <h5>Speech and Language Therapist NHS</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
    <div class="col s12 m6 l3 card-panel">
    <h5>Deputy Head - South London</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
  </div>
  </div>

{% endblock %}