{% extends "base.html" %} {% block content %}

<h2 class="align-center orange-gradient about">About Us</h2>

<div class="container">
    <div class="white"></div>

    <div class="row">
        <div class="col s12 m12 l12 card-panel grey-gradient home-cards align-center">
            <h5 class="deep-orange-text">Who we are?</h5>
            <p>We are a group of SEND teachers and Speech and Language Therapist trying to share free resources and links to support students with Speech, Language and Communication Needs.</p>
            <h5 class="deep-orange-text">What we offer?</h5>
            <p>A free resource that helps you to find training and interventions to meet your students needs.</p>

            <h5 class="deep-orange-text">What does it cost?</h5>
            <p>Nothing. We are doing this to help promote awareness of all the wonderful training and interventions out there. However, some training and interventions may require cost.</p>
            <h5 class="deep-orange-text">How will it help my school?</h5>
            <p>
                School staff can immediately search, or review (or hopefully add their own) training and interventions that can be used within their school. This will save you time, instead of thinking "what can I do?" or "How do I meet
                these needs?" we have collected it all for you (and continue to grow).
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 align-center blue-gradient">
        <h4 class="bold">Testimonials</h4>
        <p>Don't just take our words for it though, read some testimonials below.</p>
    </div>
</div>

<div class="container">
<div class="row align-center">
    <div class="col s12 m12 l12 card-panel home-cards purple lighten-3">
        <p>
            "This has made my job a hundred times easier, looking up INTERVENTIONS and their outline has saved me countless hours.  I would definitely recommend to others!"<br />
        </p>
        <h5 class="bold right">- SENCO - Mainstream Secondary School</h5>
    </div>
    <div class="col s12 m12 l12 card-panel home-cards orange lighten-3">
        <p>
            "Thanks to the TRAINING page, we were able to find and send our staff on appropriate training that significantly supported our students' needs."
        </p>
        <h5 class="bold right">- Class Teacher - Mainstream Primary</h5>
    </div>
    <div class="col s12 m12 l12 card-panel home-cards green lighten-3">
        <p>
            "Using this site has really helped me save time and be more efficient.  I am able to recommend courses and interventions easier in order fulfil my role.""
        </p>
        <h5 class="bold right">- SENCO - Mainstream Secondary School</h5>
    </div>
    <div class="col s12 m12 l12 card-panel home-cards yellow lighten-3">
        <p>
            "Not having personally used it, I came upon this at recommendation from another school.  What a revelation!  We use it as an intergral part of our SEN offer now.""
        </p>
        <h5 class="bold right">- Deputy Head - South London</h5>
    </div>
</div>
</div>
{% endblock %}
