{% extends "base.html" %}
{% block content %}

<div class="container">

<h2> Add Interventions </h2>


 <div class="row card-panel grey-lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_need') }}">
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="area_of_need" name="area_of_need" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for need in need %}
                            <option value ="{{ need.area_of_need }}">{{ need.area_of_need }}</option>
                        {% endfor %}
                    </select>
                    <label for ="area_of_need">Task Category</label>
                </div>
            </div>
        </form>
 </div>




<!-- Name --> 
<div class="row">
                <div class="input-field col s12 m6 l12">
                    <i class="fas fa-list prefix light-blue-text text-darken-4"></i>
                    <input id="name" name="name" minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                   
                    <label for="name">Intervention Name</label>
                </div>
</div>

<!-- SEN Area and Rating -->
<div class="row">
                <div class="input-field col s12 m6 l6">
                    <i class="fas fa-clipboard-list prefix light-blue-text text-darken-4"></i>
                    <textarea id="sen" name="sen" minlength="5"
                    maxlength="50" class="materialize-textarea validate" required></textarea>
                    <label for="sen">SEN Area</label>
                </div>

                <div class="input-field col s12 m6 l6">
                    <i class="fas fa-smile prefix light-blue-text text-darken-4"></i>
                    <input id="rating" name="rating" 
                        type="text" class="datepicker validate" required>
                    <label for="rating">Rating</label>
                </div>
</div>

<!-- Duration of intervention -->
<div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                    <input id="duration" name="duration" 
                        type="text" class="datepicker validate" required>
                    <label for="duration">Duration</label>
                </div>
</div>

<!-- Resources required -->
<div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-suitcase prefix light-blue-text text-darken-4"></i>
                    <input id="resources" name="resources" 
                        type="text" class="datepicker validate" required>
                    <label for="resources">Resources Required</label>
                </div>
</div>

<!-- Cost -->
<div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pound-sign prefix light-blue-text text-darken-4"></i>
                    <input id="cost" name="cost" 
                        type="text" class="datepicker validate" required>
                    <label for="cost">Cost</label>
                </div>
</div>


<!-- Submit button -->
<div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Intervention <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            
</div>



</form>
</div>
</div>
</div>
</div>
{% endblock %}