<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet" />
        <!-- favicon error fix -->
        <link rel="shortcut icon" href="#" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
        <!-- Email JS function script-->
        <script type="text/javascript">
            (function () {
                emailjs.init("user_LotgXUKrc88pOhpPCYgaH");
            })();
        </script>
        {% block styles %} {% endblock %}
        <title>Communication Library</title>
    </head>
    <body>
        <!-- navbar -->
        <section id="navbar">
            <header>
                <div class="navbar-fixed">
                    <nav class="nav-extended grey darken-3 opacity">
                        <div class="nav-wrapper left-align">
                            <a href="{{ url_for('home_page') }}" class="brand-logo"> <i class="far fa-comments icon-comment logo-placement"></i></a>
                            <a href="..." data-target="mobile-demo" class="sidenav-trigger left"><i class="fas fa-bars"></i></a>
                            <ul class="right hide-on-med-and-down">
                                
                                    <li><a href="{{ url_for('about_page') }}">About</a></li>
                                    <li><a href="{{ url_for('help_page') }}">Help</a></li>
                            
                                    <li><a href="{{ url_for('show_interventions') }}">Intervention</a></li>
                                    <li><a href="{{ url_for('add_interventions') }}">Add Intervention</a></li>
   
                                    <li><a href="{{ url_for('show_training') }}">Training</a></li>
                                    <li><a href="{{ url_for('add_training') }}">Add Training</a></li>
                                </ul>
                               

                                <!-- End dropdowns -->
                          
                        </div>
                    </nav>
                </div>

                <!-- mobile navbar from Materialize  -->

                <ul class="sidenav bold" id="mobile-demo">
                    
                    <li><h5 class="white align-center">SLCN</h5></li>
                    <li><a href="{{ url_for('home_page') }}">Home</a></li>
                    <li><a href="{{ url_for('about_page') }}">About</a></li>
                    <li><a href="{{ url_for('help_page') }}">Help</a></li>
                    <li><a href="{{ url_for('show_training') }}">Training</a></li>
                    <li class="align-center"><a href="{{ url_for('add_training') }}"> - Add Training</a></li>
                    <li><a href="{{ url_for('show_interventions') }}">Interventions</a></li>
                    <li class="align-center"><a href="{{ url_for('add_interventions') }}"> - Add Interventions</a></li>
                </ul>
            </header>
        </section>
        <!-- end navbar -->

        <!-- main content insert -->
        <main>
            {% block content %} {% endblock %}
        </main>
        

        <!-- Footer Section -->
       
            <footer class="page-footer grey darken-4">
                <div class="container">
                    <div class="row">
                        <h5 class="white-text">Visit some of our friends</h5>
                        <br />
                        <div class="col s6">The Communication Trust</div>
                        <div class="col s6">ICAN</div>
                    </div>

                    <div class="row">
                        <div class="col s6">Complex Needs -SLCN</div>
                        <div class="col s6">NHS Speech and Language</div>
                    </div>

                    <div class="row">
                        <div class="col s6">
                            Communication Matters
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="right">
                        © 2020 Copyright
                    </div>
                </div>
            </footer>
     
        <!-- End Footer -->


        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% block scripts %} {% endblock %}
    </body>


</html>

