{% extends "base.html" %}
{% block content %}



<div class="container">
<br />
<div class="row">
</div>
<h1 class="align-center"> Deleted </h1>
<br />
<div class = "row">
    <div class="col s12 l2">
    </div>

    <div class="col s12 m4 l4">
    <div class="card card-gradient-1 horizontal align-center">
     
      <div class="card-stacked ">
        <div class="card-content ">
          <p>Return to Interventions</p>
          <i class="fas fa-hands-helping"></i>
        </div>
        
      </div>
    </div>
  </div>

    <div class="col s12 m4 l4">
    <div class="card card-gradient-2 horizontal align-center">
    
      <div class="card-stacked">
        <div class="card-content">
          <p>Return to training</p>
          <i class="fas fa-user-graduate"></i>
        </div>
        
      </div>
    </div>
  </div>

</div>
{% endblock %}