{% extends "base.html" %} {% block content %}

<h1 class="align-center blue lighten-4 help">Help</h1>

<div class="container">
    <div class="white"></div>

    <div class="row">
        <div class="col s12 align-center card-panel orange-gradient">
            <h5>Stuck? Find your answers here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 card-panel grey-gradient">
            <h5>How to Add</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 card-panel grey-gradient">
            <h5>What if I made a mistake?</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat.</p>
        </div>

        <div class="row">
            <div class="col s12 m12 l12 card-panel grey-gradient">
                <h5>How do I delete old interventions</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 align-center card-panel orange-gradient">
            <h5>Need further help?</h5>
            <p>Use the form below.</p>
        </div>
    </div>

    <div class="row">
        <form class="col s12 m6 l6">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" />
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="role" type="text" class="validate" />
                    <label for="role">Role</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" />
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="help" type="text" class="validate" />
                    <label for="help">Help Request</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                </div>
            </div>
        </form>

        <div class="col s12 m6 l6">
            <br />
            <div class="align-center">
                <h4>Contact Us</h4>
                <h5>The SLCN Group</h5>
                <i class="fas fa-phone fa-10x align-center"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}
