{% extends "base.html" %}
{% block content %}




<h2 class="center-align"> Help</h2>

 <div class="row">
    <div class="col s12 align-center card-panel">
    <h5>Specialist</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. 
        </p>
    </div>
</div>
    
<div class= "container">

<div class="row">
    <div class="col s12 m4 l4 card-panel">
    <h5>Specialist</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. 
        </p></div>
     <div class="col s12 m4 l4 card-panel">
     <h5>Specialist</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. 
        </p></div>
     <div class="col s12 m4 l4 card-panel">
     <h5>Specialist</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. 
        </p></div>
 </div>

</div>

  <div class="row">
   
    <div class="col s12 align-center card-panel">
    <h5>Specialist</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. 
        </p>
    </div>

  </div>
  <div class="container">
  <div class="row">

    <div class="col s12 m6 l3 card-panel">
    <h5>Specialist</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
    <div class="col s12 m6 l3 card-panel">
    <h5>Specialist</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
    <div class="col s12 m6 l3 card-panel">
    <h5>Specialist</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
    <div class="col s12 m6 l3 card-panel">
    <h5>Specialist</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in felis eu ligula feugiat dictum quis egestas lectus. Integer rhoncus urna eu tincidunt feugiat. Aliquam sit amet est vehicula, gravida eros sit amet, tincidunt elit. Quisque sed libero sapien.</p>
    </div>
  </div>
  </div>

{% endblock %}