{% extends "base.html" %} {% block content %}

<h1 class="align-center blue lighten-4 help">Help</h1>

<div class="container">
    <div class="white"></div>

    <div class="row">
        <div class="col s12 align-center card-panel orange-gradient">
            <h5>Stuck? Find your answers here</h5>
            <p>We aim to make our site as easy as possible, no matter what device you are using.  If you can't find answers here, contact us below.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 card-panel grey-gradient">
            <h5>How to Add</h5>
            <p>Easy!  Just click on the menu above, on the ADD TRAINING or ADD INTERVENTIONS button, fill out all the required form and SUBMIT.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 card-panel grey-gradient">
            <h5>What if I made a mistake?</h5>
            <p>No problem!  Just click on the INTERVENTION you made an error on and click the EDIT button.  Make your changes and SUBMIT.</p>
        </div>

        <div class="row">
            <div class="col s12 m12 l12 card-panel grey-gradient">
                <h5>How do I delete old interventions</h5>
                <p>Simple! Click on the chosen intervention and then click on DELETE. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 align-center card-panel orange-gradient">
            <h5>Need further help?</h5>
            <p>Use the form below.</p>
        </div>
    </div>

    <div class="row">
        <form class="col s12 m6 l6">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" />
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="role" type="text" class="validate" />
                    <label for="role">Role</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" />
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="help" type="text" class="validate" />
                    <label for="help">Help Request</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                </div>
            </div>
        </form>

        <div class="col s12 m6 l6">
            <br />
            <div class="align-center">
                <h4>Contact Us</h4>
                <h5>The SLCN Library</h5>
                <i class="fas fa-phone fa-10x align-center"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}
