{% extends "base.html" %}
{% block content %}

<div class="container">
 <br />
<div class="row card align-center blue-gradient">
    <h2> Speech, Language and Communication Needs</h2>
</div>

<div class="row">
    <div class="col s12 m6 l6 align-center">
    <div class="white">
        </div>  
    <div class="white">
        </div>  
    <div class="white">
        </div>  
    <i class="fas fa-people-arrows fa-10x"></i>
    <p>Your one stop place for meeting your Children's Communication Needs</p>
    <div class="white">
        </div>  
    <i class="fas fa-people-arrows fa-4x"> </i>
    <i class="fas fa-people-arrows fa-4x"> </i>
    <i class="fas fa-people-arrows fa-4x"> </i>
    </div>

        <div class="white">
        </div>  
    <div class="col s12 m6 l6 grey-gradient"><h5>Communication difficulties effect ....</h5>
           
        <ul>
            <li>Almost 10% of all children and young people in the UK – more than 1.4 million - have speech, language and communication needs (SLCN) (ICAN)</li>
            <li>The challenge is even greater in deprived areas, where more than 50% of children have delayed language. 
            A lack of knowledge and resources means that too many children and young people with SLCN don’t receive enough appropriate support. 
            This affects their educational outcomes, their employability and their health and wellbeing. (ICAN)</li>
            <li>50-90% of children with persistent speech, language and communication difficulties go on to have reading difficulties
            At least 60% of young people in young offender institutions have communication difficulties (Communication Trust)</li>
            <li>Children with speech, language communication needs (SLCN) are at high risk of difficulties with reading, writing and spelling. 
            If children can't say words, 
            they will be more likely to have difficulties in 'sounding out' words for reading and spelling, or writing them down. 
            If they can't understand the words they hear, they will struggle to understand what they have read.  
            Children with communication difficulties are more likely to have behaviour difficulties. 
            Many children with identified behaviour needs have previously unidentified SLCN. 
            Imagine the frustration of not getting your message across. (Communication Trust)</li>
        </ul>
  </div>
  </div>



  <div class="row info-cards align-center">
   
    <div class="col s12 m12 l12 card orange-gradient"><h3>This is an open resource that allows you to...</h3>
    </div>
  <div class="row">
  </div>
  </div>
  <div class="row align-center">
    <div class="col l1"></div>
    <div class="col s12 m12 l3 card green lighten-3"><p>Search for interventions others have added</p><i class="fas fa-search fa-2x"></i></div>
    <div class="col s12 m12 l3 card yellow"><p>Read up on what they require and how others rate them</p><i class="fas fa-glasses fa-2x"></i></div>
    <div class="col s12 m12 l3 card red lighten-3"><p>Add/delete your own training/interventions to help others</p><i class="fas fa-user-plus fa-2x"></i></div>
    <div class="col l1"></div>
  </div>
 

</div>
<br />
{% endblock %}