{% extends "base.html" %}
{% block content %}

    

<div class= "container">
 <div class="row card-panel grey-lighten-5">
        
            <h2> Your Interventions </h2>
       
 </div>

   {% for interventions in interventions %}

    <div class="row">
        <div class="col s12 m12 l12 cards"><h6> {{ interventions.name }} </h6><br>
        <h7> Intervention name: </h7>{{ interventions.sen }}<br>
        {{ interventions.rating }}<br>
        {{ interventions.resources }}<br>
        {{ interventions.cost }}<br>
        </div>

    <div class="card-action">
                        <a href="{{ url_for('edit_interventions', interventions_id=interventions._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_interventions', interventions_id=interventions._id) }}" class="btn light-blue lighten-1">Delete</a>
                    </div>

    {% endfor %}

   
 </div>

  
        
    

{% endblock %}
