{% extends "base.html" %}
{% block content %}

    

<div class= "container">
 <div class="row card-panel grey-lighten-5">
        
            <h2> Your Interventions </h2>
       
 </div>

   {% for intervention in interventions %}

    <div class="row">
        <div class="col s12 m12 l12 cards"><h6> {{ intervention.name }} </h6><br>
        <h7> Intervention name: </h7>{{ intervention.sen }}<br>
        {{ intervention.rating }}<br>
        {{ intervention.resources }}<br>
        {{ intervention.free }}<br>
        </div>
    </div>
 {% endfor %}
 </div>

  
        
    

{% endblock %}
