{% extends "base.html" %}
{% block content %}

   

 <div class="container">

             <h2> Your Students </h2>
       
    


    {% for students in students %}
                            
    <div class="row">
        <div class="col s12 m12 l12 cards"><br>
        <h7> name: </h7> {{ students.name }} <br>
        <h7> class: </h7> {{ students.class }}<br>
        <h7> sen: </h7> {{ students.sen }}<br>
        <h7> Intervention: </h7> {{ students.intervention }}<br>
        <h7> start date: </h7> {{ students.start_date }}<br>
        <h7> Review due: </h7>{{ students.review_due }}
         <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="URGENT!"></i>
        
        
        </div>

     

    <div class="card-action">
                        <a href="{{ url_for('edit_students', students_id=students._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_students', students_id=students._id) }}" class="btn light-blue lighten-1">Delete</a>
    </div>         
                        
    {% endfor %}
                
                   
                </div>
            </div>
      
    

{% endblock %}
