{% extends "base.html" %}
{% block content %}

   
<div class="container">
    <br />

    <h2 class="card-panel align-center">Your Training</h2>

    <br />

    <div class="row">
        <img src="../images/training.jpg" alt="School training" width="400" height="150">
    </div>
    <div class="row align-center info-cards">
        <div class="col s12 m4 l4 attention blue lighten-4">
            <h5>Area of Need</h5>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at aliquam elit. Pellentesque ut mi mi.</p>
        </div>
        <div class="col s12 m4 l4 understanding yellow lighten-4">
            <h5>Intervention</h5>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at aliquam elit. Pellentesque ut mi mi.</p>
        </div>
        <div class="col s12 m4 l4 expression orange lighten-4">
            <h5>Type</h5>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at aliquam elit. Pellentesque ut mi mi.</p>
        </div>
    </div>

    <br />

    {% for training in training %}

    <ul class="collapsible left-align">
        <li>
            <div class="collapsible-header grey row">
                
                    <div class="col s12 m6 l6">
                        <h5><i class="fas fa-graduation-cap light-blue-text text-darken-4"></i> {{ training.name }}</h5>
                    </div>
                    <div class="col s12 m6 l6 right">     
                        <h5><i class="fas fa-users light-blue-text text-darken-4"></i>{{ training.type }}</h5>
                    </div>
                    
            </div>

            <div class="collapsible-body lighten-5">
                <div class="row">
                    <div class="col s12 m6 l6 align-center">
                        <h7> <i class="fas fa-clipboard prefix light-blue-text text-darken-4"></i> Delivery </h7> {{ training.delivery }}<br />
                        <h7> <i class="fas fa-tasks prefix light-blue-text text-darken-4"></i>  </h7> {{ training.duration }}<br />
                        <h7> <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i> Start Date </h7> {{ training.start_date }}<br />
                         <h7> <i class="fas fa-tasks prefix light-blue-text text-darken-4"></i>  </h7> {{ training.area }}<br />
                         <h7> <i class="fas fa-tasks prefix light-blue-text text-darken-4"></i>  </h7> {{ training.qualification }}<br />
                        <h7> <i class="fas fa-tasks prefix light-blue-text text-darken-4"></i>  </h7> {{ training.cost }}<br />
                    </div>

                    <div class="col s12 m6 l6 align-center">
                    <br />
                        <a href="{{ url_for('edit_training', training_id=training._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_training', training_id=training._id) }}" class="btn red lighten-1">Delete</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <br />

    {% endfor %}
</div>

{% endblock %}