{% extends "base.html" %}
{% block content %}

   
<div class="container">
    <br />

    <h2 class="card-panel align-center">Your Training</h2>

    <br />

    <div class="row align-center">
        
        <div class="col s12 m3 l3 attention blue lighten-4">
            <h5>Area of Need</h5>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at aliquam elit. Pellentesque ut mi mi.</p>
        </div>
        <div class="col s12 m3 l3 understanding yellow lighten-4">
            <h5>Intervention</h5>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at aliquam elit. Pellentesque ut mi mi.</p>
        </div>
        <div class="col s12 m3 l3 expression orange lighten-4">
            <h5>Type</h5>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at aliquam elit. Pellentesque ut mi mi.</p>
        </div>
        
    </div>

    <br />

    {% for training in training %}

    <ul class="collapsible left-align">
        <li>
            <div class="collapsible-header gradient-banner-2 row">
                
                    <div class="col s12 m12 l6">
                        <h6><i class="fas fa-university"></i> Course name: {{ training.name }}</h6>
                    </div>
                    <div class="col s12 m12 l6 right">     
                        <h6><i class="fas fa-users "></i>Type: {{ training.type }}</h6>
                    </div>
                    
            </div>

            <div class="collapsible-body lighten-5">
                <div class="row">
                    <div class="col s12 m6 l6 align-center">
                        <h7> <i class="fas fa-laptop-house prefix"></i> Delivery </h7> {{ training.delivery }}<br />
                        <h7> <i class="fas fa-hourglass-half prefix"></i>  </h7> Duration: {{ training.duration }}<br />
                        <h7> <i class="fas fa-calendar-alt prefix"></i> Start Date </h7> {{ training.start_date }}<br />
                         <h7> <i class="fas fa-chalkboard-teacher prefix"></i>  </h7> Area: {{ training.area }}<br />
                         <h7> <i class="fas fa-award prefix"></i>  </h7> Qualification: {{ training.qualification }}<br />
                        <h7> <i class="fas fa-pound-sign prefix"></i>  </h7> Cost: {{ training.cost }}<br />
                        <h7> <i class="fas fa-pound-sign prefix"></i>  </h7> Provider: {{ training.provider }}<br />
                    </div>

                    <div class="col s12 m6 l6 align-center">
                    <br />
                        <a href="{{ url_for('edit_training', training_id=training._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_training', training_id=training._id) }}" class="btn red lighten-1">Delete</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <br />

    {% endfor %}
</div>

{% endblock %}