{% extends "base.html" %} {% block content %}

<h2 class="card-panel align-center deep-orange lighten-2">Your Interventions</h2>

<section id="interventions_content">
    <div class="container">
        <div class="white"></div>

        <div class="white"></div>
        <!--  Search tips -->
        <div class="row align-center search">
            <div class="col s12 m12 l12 attention grey-gradient home-cards">
                <h4 class="deep-orange-text">Attention</h4>
                <p>Search for <em>'Attention'</em> if you need support with developing focus, concentration and stamina.</p>

                <h4 class="deep-orange-text">Understanding</h4>
                <p>Search for <em>'Understanding'</em> if you need support with developing comprehension, language and empathy.</p>

                <h4 class="deep-orange-text">Expression</h4>
                <p>Search for <em>'Expression'</em> if you need support with developing vocab, emotions and choice.</p>

                <h4 class="deep-orange-text">Speech</h4>
                <p>Search for <em>'Speech'</em> if you need support with developing speech, intelligibility and speech sounds.</p>
            </div>
        </div>

        <div class="white"></div>

        <section id="search_feature">
            <div class="row card-panel grey-lighten-5">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row align-wrapper center-align">
                        <div class="input-field col s12 m6">
                            <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required />
                            <label for="query">Search Interventions</label>
                        </div>
                        <div class="col s12 m6">
                            <a href="{{ url_for('show_interventions') }}" class="red btn text-shadow">Reset</a>
                            <button type="submit" class="light-blue darken-1 btn text-shadow"><i class="fas fa-search left"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section id="intervention_list">
            {% if interventions|length > 0 %}

            <div class="white"></div>

            {% for interventions in interventions %}

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header row orange-gradient">
                        <div class="col s12 m12 l12">
                            <h5><i class="fas fa-list"></i> Name: {{ interventions.intervention_name }}</h5>
                        </div>
                    </div>

                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m9 l9 left">
                                <h7><i class="fas fa-smile"></i> Rating: </h7> {{ interventions.intervention_rating }}<br />
                                <h7> <i class="fas fa-clock"></i> Duration: </h7> {{ interventions.intervention_duration }}<br />
                                <h7> <i class="fas fa-suitcase"></i> Resources: </h7> {{ interventions.intervention_resources }}<br />
                                <h7> <i class="fas fa-pound-sign"></i> Cost: </h7> {{ interventions.intervention_cost }}<br />
                                <h7><i class="fas fa-wifi"></i> Website: </h7>
                                <p>{{ interventions.intervention_website }}</p>
                                <br />
                            </div>

                            <div class="col s12 m3 l3 align-center">
                                <br />
                                <a href="{{ url_for('edit_interventions', interventions_id=interventions._id) }}" class="btn green accent-4 align-center">Edit</a>
                                <a href="{{ url_for('delete_interventions', interventions_id=interventions._id) }}" class="btn red lighten-1 align-center">Delete</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <br />

            {% endfor %} {% else %}
            <div class="container">
                <h5 class="red-text align-center">No results, try again (read above for hints!)</h5>
                <div class="white"></div>
            </div>
            {% endif %} {% endblock %}
        </section>
    </div>
</section>
